<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.logitics_track_360.shipment.dao.ShipmentMapper">
    <resultMap id="ShipmentResultMap" type="kr.co.logitics_track_360.shipment.vo.ShipmentVO">
	  <constructor>
	    <idArg column="SHIPMENT_ID" javaType="java.lang.Long" />
	    <arg column="ORDER_ID" javaType="java.lang.String" />
	    <arg column="CARRIER_NAME" javaType="java.lang.String" />
	    <arg column="TRACKING_NUMBER" javaType="java.lang.String" />
	    <arg column="SHIPPED_AT" javaType="java.time.LocalDateTime" />
	    <arg column="ARRIVAL_ESTIMATE" javaType="java.time.LocalDate" />
	    <arg column="SHIPMENT_STATUS" javaType="java.lang.String" />
	    <arg column="SOURCE_TYPE" javaType="java.lang.String" />
	    <arg column="UPDATED_BY" javaType="java.lang.String" />
	    <arg column="UPDATED_AT" javaType="java.time.LocalDateTime" />
	    <arg column="CREATED_AT" javaType="java.time.LocalDateTime" />
	  </constructor>
	</resultMap>

    <select id="selectShipmentList" resultMap="ShipmentResultMap">
        SELECT *
        FROM TBL_SHIPMENT
        ORDER BY SHIPPED_AT DESC, CREATED_AT DESC
    </select>

    <select id="selectShipment" resultMap="ShipmentResultMap" parameterType="long">
        SELECT *
        FROM TBL_SHIPMENT
        WHERE SHIPMENT_ID = #{shipmentId}
    </select>

    <insert id="insert" parameterType="kr.co.logitics_track_360.shipment.dto.ShipmentCreateRequestDto">
        INSERT INTO TBL_SHIPMENT (
            SHIPMENT_ID,
            ORDER_ID,
            CARRIER_NAME,
            TRACKING_NUMBER,
            SHIPPED_AT,
            ARRIVAL_ESTIMATE,
            SHIPMENT_STATUS,
            SOURCE_TYPE,
            UPDATED_BY
        ) VALUES (
            SEQ_SHIPMENT_ID.NEXTVAL,
            #{orderId},
            #{carrierName},
            #{trackingNumber},
            #{shippedAt},
            #{arrivalEstimate},
            #{shipmentStatus},
            #{sourceType},
            #{updatedBy}
        )
    </insert>

    <update id="update" parameterType="kr.co.logitics_track_360.shipment.dto.ShipmentUpdateRequestDto">
        UPDATE TBL_SHIPMENT
        SET
            CARRIER_NAME = #{carrierName},
            TRACKING_NUMBER = #{trackingNumber},
            SHIPPED_AT = #{shippedAt},
            ARRIVAL_ESTIMATE = #{arrivalEstimate},
            SHIPMENT_STATUS = #{shipmentStatus},
            SOURCE_TYPE = #{sourceType},
            UPDATED_BY = #{updatedBy}
        WHERE SHIPMENT_ID = #{shipmentId}
    </update>
</mapper>